<form class="{{cssClass}} flexcol" autocomplete="off">
    <b> TEST </b>
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'TDE5E.Core.Name' }}" />
            </h1>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.bio.species" value="{{data.details.race}}"
                        placeholder="{{ localize 'TDE5E.Core.Species' }}" />
                </li>
                <li>
                    <input type="text" name="data.bio.culture" value="{{data.details.background}}"
                        placeholder="{{ localize 'TDE5E.Core.Culture' }}" />
                </li>
                <li>
                    <input type="text" name="data.bio.profession" value="{{data.details.alignment}}"
                        placeholder="{{ localize 'TDE5E.Core.Profession' }}" />
                </li>
            </ul>
        </section>
    </header>
</form>