<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'TDE5E.Core.Name' }}" />
            </h1>
        </section>
        <section class="flexcol">
            <div class="ap-section flexrow">
                <span class="ap-remaining" title="ap-remaining">{{localize 'TDE5E.Experience.Apremaining'}}</span>
                <input class="number-input" name="data.experience.apremaining" type="Number" data-dtype="Number" value="{{actor.data.experience.apremaining}}" placeholder="0" />
                <span>{{actor.data.experience.apStart}} / {{actor.data.experience.apTotal}}</span>
            </div>
            <div class="flexrow">
                <label class="fate-remaining">{{localize 'TDE5E.Core.Fatepoints'}}</label>
                <input class="number-input" name="data.fatepoints.current" type="Number" data-dtype="Number" value="{{actor.data.fatepoints.current}}" placeholder="0" />
                <label class="fate-remaining">/ {{actor.data.fatepoints.max}}</label>
            </div>
            <div class="flexrow">
                <input class="" name="" type="Button" value="Improve" />
            </div>
        </section>
    </header>

    {{!-- Resources --}}
    <section>
        <div class="flexrow">
            {{#each actor.data.resources as |res|}}
            <span class="resource-box">
                <div class="flexcol">
                    <div class="flexrow">
                        <label>{{res.name}}</label>          
                    </div>
                    <div class="flexrow">
                        <input class="res-current number-input" contenteditable="true" type="Number" name="data.resources.{{res.label}}.current" value="{{res.current}}" data-dtype="Number" placeholder="-" />
                        <span class="flexcol">
                            <label class="res-mod">/ 25</label>
                            <span class="flexrow">
                                <label class="res-max">{{res.mod}}</label>
                                <label class="res-pointsbought">({{res.bought}})</label>
                            </span>
                        </span>
                    </div>
                </div>
            </span>
            {{/each}}
        </div>
    </section>
    
    <section class="middle-block flexrow">

        {{!-- Attribute Section --}}
        <section class="attribute summary flexcol">
            <h4 class="attribute-header-text">{{localize "TDE5E.Core.Attributes"}}</h4>

            <ul class="attribute flexcol">
                {{#each actor.data.attributes as |attribute id|}}
                <li class="flexrow">
                    <label>{{localize attribute.name}}</label>
                    <input class="number-input" type="Number" name="data.attributes.{{attribute.label}}.current"
                        value="{{attribute.current}}" data-dtype="Number" placeholder="8" />
                </li>
                {{/each}}
            </ul>
        </section>

        {{!-- Derviced value section --}}
        <section class="derived-values summary flexcol">
            <div class="flex-group-left">
                <h4 class="derived-values-header-text">
                    {{localize "TDE5E.Core.Derivedvalues"}}</h4>
                <ul class="derived-values flexcol">
                    {{#each actor.data.stats as |stat|}}
                        <li class="flexrow">
                            <label>{{localize stat.name}}</label>
                            <label>0</label>
                            <input class="number-input mod" type="Number" name="data.stats.{{stat.label}}.mod" value="{{stat.mod}}" data-dtype="Number" placeholder="" />
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        {{!-- Condition section --}}
        <section class="conditions-block summary flexcol">
            <div class="flex-group-left">
                <h4 class="conditions-header-text">{{localize "TDE5E.Core.Conditions"}}</h4>
                <ul class="conditions  flexcol">
                    {{#each actor.data.conditions as |con|}}
                    <li class="flexrow">
                        <label>{{con.name}}</label>
                        <label>0 / 4</label>
                        <input class="number-input" type="Number" name="data.conditions.{{con.label}}.current" value="{{con.current}}"
                            data-dtype="Number" placeholder="0" />
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </section>
    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="basic">{{ localize "TDE5E.Sheet.Basicsheet" }}</a>
        <a class="item" data-tab="skills">{{ localize "TDE5E.Sheet.Talentsheet" }}</a>
        <a class="item" data-tab="combat">{{ localize "TDE5E.Sheet.Combatsheet" }}</a>
        <a class="item" data-tab="spells">{{ localize "TDE5E.Sheet.Spellsheet" }}</a>
        <a class="item" data-tab="liturgy-chants">{{ localize "TDE5E.Sheet.Liturgysheet" }}</a>
        <a class="item" data-tab="inventory">{{ localize "TDE5E.Sheet.Equipment" }}</a>
        <a class="item" data-tab="notes">TODO</a>
    </nav>

    <body>
        <section class="sheet-body">
            <div class="tab basic flexrow" data-group="primary" data-tab="basic">
                {{> "systems/tde5e/templates/actors/parts/actor-basic.html" }}
            </div>

            <div class="tab skills flexrow" data-group="primary" data-tab="skills">
                {{> "systems/tde5e/templates/actors/parts/actor-skills.html"}}
            </div>

            <div class="tab combat flexrow" data-group="primary" data-tab="combat">
                {{> "systems/tde5e/templates/actors/parts/actor-combat.html" }}
            </div>

            <div class="tab spells flexrow" data-group="primary" data-tab="spells">
                {{> "systems/tde5e/templates/actors/parts/actor-spells.html"}}
            </div>

            <div class="tab liturgy-chants flexrow" data-group="primary" data-tab="liturgy-chants">
                {{> "systems/tde5e/templates/actors/parts/actor-liturgy-chants.html"}}
            </div>

            <div class="tab notes flexrow" data-group="primary" data-tab="notes">
                {{> "systems/tde5e/templates/actors/parts/actor-notes.html" }}
            </div>

            {{!-- Inventory Tab --}}
            <div class="tab inventory flexrow" data-group="primary" data-tab="inventory">
                {{> "systems/tde5e/templates/actors/parts/actor-inventory.html"}}
            </div>

        </section>
        </bod>

</form>