  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

.TDE5E.sheet.actor {
    

    .number-input {
        border: 1px solid #dddddd7a;
        display: block;
        background-color: cornsilk;
        color: #53370df6;
        font-size: large;
        margin-right: 2px;
        padding-right: 2px;
        text-align: center;
        min-width: 45px;
        max-width: 45px;
    }

    .atr-label {
        display: grid;
        margin-right: 5px;
        padding-right: 5px;
        border: 1px solid black;
        text-align: center;
        align-self: baseline;
        grid-template-columns: repeat(3, 1fr);
        min-width: 50px;
        max-width: 80;
        background-color: cadetblue;
        color: cornsilk;
    }
    

    // Portrait Artwork
    img.profile {
        flex: 0 0 160px;
        max-width: 160px;
        height: 160px;
    }

    .resource-box {
        border: 3px solid #0808080f;
        padding: 5px ;
        margin: 2px;
    }

    .header-details {
        border: 2px dashed #faffaf;
    }

    .resource-block{
        input[type="Number"] {
            background-color: aqua;
            font-size: 12px;
            min-width: 50px;
            max-width: 80px;
        }
    }

    // .bio-block {
    //     display: grid;
    //     grid: auto-flow;
    //     background-color: goldenrod;

    //     .bio{
    //         display: flex;
    //         flex: flex-shrink;
    //     }
    // }

    .summary {
        margin: 5px;
        padding: 5px;
        border-bottom: 2px solid  #e8ee8e;
        font-size: 13px;
        background-color: blanchedalmond;

        input {
            display: block;
            min-width: 20px;
            
        }
      }

      .middle-block.conditions{
        display: flex;
        flex-flow: column;
        grid-column-gap: 5px;
      }
       
}