
<Section class="liturgychants-section flexrow ">
    <ol class="flexcol summary">
        <Label>Liturgy Chants</Label>
        {{#each data.filtered.liturgychants as |liturgychants index|}}
        <li>
            <span class="flexrow flex-group-left">
                <label>{{liturgychants.data.skill.name}} | {{liturgychants.data.skill.levelingfactor}} |</label>
                <span class="atr-label">
                    {{#each liturgychants.data.skill.check.attributes as |atr|}}
                    <!-- LOOKUP needed -->
                        <label >{{atr}}</label>
                    {{/each}}
                </span>
                <input class="field-liturgychants-value" ref="{{liturgychants._id}}" type="Number"  value="{{liturgychants.data.skill.skillvalue}}" data-dtype="Number" placeholder="0"/>
                <input class="btn-liturgychants-roll" ref="{{liturgychants._id}}" type="button" value="Roll"> 
                <input class="btn-liturgychants-delete" ref="{{liturgychants._id}}" type="button" value="Delete">
            </span>
        </li>
        {{/each}}
    </ol>
</Section>