
<Section class="skill-section flexrow ">
    <ol class="flexcol summary">
        {{#each data.filtered.skills as |skill index|}}
        <li>
            <span class="flexrow flex-group-left ">
                <label>{{localize skill.name}}</label>
                <label class="impfac-label">{{skill.data.improvementCost}}</label>
                <label class="category-label">{{localize skill.data.category}}</label>
                <label class="encumbrance-label">{{localize skill.data.check.affectedByEncumberance}}</label>
                <span class="atr-label">
                    {{#each skill.data.check.attributes as |atr|}}
                    <!-- LOOKUP needed -->
                        <label >{{localize atr}}</label>
                    {{/each}}
                </span>
                <input class="field-skill-value number-input" ref="{{skill._id}}" type="Number"  value="{{skill.data.check.skillvalue}}" data-dtype="Number" placeholder="-"/>
                <input class="btn-skill-roll" ref="{{skill._id}}" type="button" value="Roll"> 
                <input class="btn-skill-delete" ref="{{skill._id}}" type="button" value="Delete">
            </span>

        </li>
        {{/each}}
    </ol>
</Section>