{{!-- Character Bio --}}
    <section class="tab-content">
        <span class="bio-block flexrow">
            <span class="flexcol">
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Family"}}</label>
                    <input type="text" name="data.bio.family" value="{{actor.data.bio.family}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Species"}}</label>
                    <input type="text" name="data.bio.species" value="{{actor.data.bio.species}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Culture"}}</label>
                    <input type="text" name="data.bio.culture" value="{{actor.data.bio.culture}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Experiencelevel"}}</label>
                    <input type="text" name="data.bio.experiencelevel" value="{{actor.data.bio.experiencelevel}}"
                        placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Dateofbirth"}}</label>
                    <input type="text" name="data.bio.dateofbirth" value="{{actor.data.bio.dateofbirth}}"
                        placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Profession"}}</label>
                    <input type="text" name="data.bio.profession" value="{{actor.data.bio.profession}}"
                        placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Age"}}</label>
                    <input type="Number" name="data.bio.age" value="{{actor.data.bio.age}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Haircolor"}}</label>
                    <input type="text" name="data.bio.haircolor" value="{{actor.data.bio.haircolor}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Socialstatus"}}</label>
                    <input type="text" name="data.bio.socialstatus" value="{{actor.data.bio.socialstatus}}"
                        placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Title"}}</label>
                    <input type="text" name="data.bio.title" value="{{actor.data.bio.title}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Eyecolor"}}</label>
                    <input type="text" name="data.bio.eyecolor" value="{{actor.data.bio.eyecolor}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Height"}}</label>
                    <input type="text" name="data.bio.height" value="{{actor.data.bio.height}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Weight"}}</label>
                    <input type="text" name="data.bio.weight" value="{{actor.data.bio.weight}}" placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Placeofbirth"}}</label>
                    <input type="text" name="data.bio.placeofbirth" value="{{actor.data.bio.placeofbirth}}"
                        placeholder="-" />
                </span>
                <span class="bio flexrow flex-group-center">
                    <label>{{localize "TDE5E.Core.Characteristica"}}</label>
                    <input type="text" name="data.bio.characteristica" value="{{actor.data.bio.characteristica}}"
                        placeholder="-" />
                </span>
            </span>
        </span>
    </section>

    <section class="flexcol">
        <ul class="currency summary flexcol">
            {{#each actor.data.currency as |currency|}}
            <li class="flexrow">
                <!-- TODO: Translate -->
                <label>{{@key}}</label>
                <input type="Number" name="data.currency.{{@key}}" value="{{currency}}" data-dtype="Number" placeholder="8" />
            </li>
            {{/each}}
        </ul>
    </section>