
<Section class="spell-section flexrow ">
    <ol class="flexcol summary">
        <Label>Spells</Label>
        {{#each data.filtered.spells as |spell index|}}
        <li>
            <span class="flexrow flex-group-left">
                <label>{{spell.data.skill.name}} | {{spell.data.skill.levelingfactor}} |</label>
                <span class="atr-label">
                    {{#each spell.data.skill.check.attributes as |atr|}}
                    <!-- LOOKUP needed -->
                        <label >{{atr}}</label>
                    {{/each}}
                </span>
                <input class="field-spell-value" ref="{{spell._id}}" type="Number"  value="{{spell.data.skill.skillvalue}}" data-dtype="Number" placeholder="0"/>
                <input class="btn-spell-roll" ref="{{spell._id}}" type="button" value="Roll"> 
                <input class="btn-spell-delete" ref="{{spell._id}}" type="button" value="Delete">
            </span>
        </li>
        {{/each}}
    </ol>
</Section>