<div class="tde5e-roll">
    <div class="dice-roll">
        <div class="dice-result">
            <div class="flexcol">
                <div class="flexcol">
                    <span class="roll-header">{{ localize skillName }} {{ skillValue }}</span>
                    <span class="subheader">{{ characterName }} </span>
                </div>
                {{#each attributes as | atr |}}
                <div class="roll-line">
                    <label class="roll">{{localize atr.attributeName }} {{ atr.attributeValue }} / {{ atr.rollValue }}</label>
                </div>
                {{/each}}
                <span class="result">FP: {{ remainingSkillPoints }} QS: {{qualityLevel}}</span>
            <span class="button-bar">
                <input class="button-rerol" type="button" id="modifyMessage" value="Roll">
            </span>
        </div>
        </div>
    </div>
</div>